DebugHud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.timescale-display {
		position: absolute;
		bottom: 32px;
		left: 32px;
		font-size: 18px;
		font-family: Poppins, sans-serif;
		color: #fff;
		font-weight: bold;
	}
}
