@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="timescale-display">

        <p> Timescale: @Scene.TimeScale</p>
        <p> @TestGameMode.Instance.State</p>


    </div>
</root>

@code
{

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(Scene.TimeScale, TestGameMode.Instance.State);
}
