.main-menu {
    position: absolute;
    top: 0;
    left: 64px;
    right: 0;
    bottom: 0;
    color: #fff;
    font-family: 'Lemon Days';
    font-size: 64px;
    flex-direction: column;
    cursor: pointer;
    /* This is just the style for when .hidden is the selector - important because of  */
    &.hidden {
        display: none;
    }

    > menu-header {
        font-size: 256px;
        font-weight: bold;
    }

    > .menu-options {
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        /* Standard Button Styling */
        > .menu-button {
            pointer-events: all;
            transition: all 0.1s ease;
            transform-origin: left center;

            &:hover {
                transform: scale(1.2);
                sound-in: ui.button.over;
            }
        }

        > .wip-button {
            color: #d0d0d0; /* Light grey text for contrast */
            cursor: default; /* No click interaction */
            pointer-events: none; /* Prevents hover and clicks */
            transition: none; /* No transition effects */
            transform: none; /* Prevent scaling */
        }
    }
}
