{
  "Version": 2,
  "Cursors": {
    "pointer": {
      "Image": "ui/cursors/hand_point.png"
    },
    "grabbing": {
      "Image": "ui/cursors/hand_closed.png"
    },
    "grab": {
      "Image": "ui/cursors/hand_open.png"
    },
    "not-allowed": {
      "Image": "ui/cursors/disabled.png"
    }
  },
  "__guid": "d435e783-e8e3-4fbc-aaa1-608393a41cb0",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}