{
  "Version": 2,
  "Cursors": {
    "pointer": {
      "Image": "ui/cursors/hand_point.png",
      "Hotspot": "16,10"
    },
    "hovering": {
      "Image": "ui/cursors/hand_open.png",
      "Hotspot": "16,10"
    },
    "grabbing": {
      "Image": "ui/cursors/hand_closed.png",
      "Hotspot": "16,10"
    },
    "cooldown": {
      "Image": "ui/cursors/busy_hourglass.png",
      "Hotspot": "16,10"
    },
    "hoveringenemy": {
      "Image": "ui/cursors/cross_small.png",
      "Hotspot": "16,10"
    },
    "disabled": {
      "Image": "ui/cursors/lock.png",
      "Hotspot": "16,10"
    }
  },
  "__guid": "d435e783-e8e3-4fbc-aaa1-608393a41cb0",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}