@using Sandbox;
@using Sandbox.UI;

@inherits Panel
@implements INavigatorPage
@namespace Facepunch.UI

<root class="mainmenu">

    <title> Punt!</title>

    <div class="options">

        <a class="button" href="/play"> Play</a>

        <a class="button" href="/leaderboard"> Leaderboard</a>

        <a class="button wip-button" href="settings"> Settings</a>

        <a class="button wip-button" href="myteam"> Team</a>

        <div class="button standard" onclick=@(()=>Quit())>

            Quit
        </div>



    </div>

</root>

@code
{
    void Quit()
    {
        Game.Close();
    }
}
