@using Sandbox
@using Sandbox.UI
@inherits Panel
@namespace Sandbox
@using System

@if (QueueManager.Instance?.isSearching == true || QueueManager.Instance?.gameFound == true)
{
    <div class="searching-panel @(QueueManager.Instance.gameFound ? "game-found" : "")">
        <h3>
            @if (QueueManager.Instance.gameFound)
            {
                @("Game Found!")
            }
            else
            {
                <span>Searching<span class="dots">@dots</span></span>
            }
        </h3>

        @if (!QueueManager.Instance.gameFound)
        {
            <button class="cancel-button" @onclick="@(() => CancelSearch())">Cancel</button>
        }
    </div>
}

@code
{
    private string dots = "";
    private float _time = 0f;

    public override void Tick()
    {
        _time += Time.Delta;

        if (!QueueManager.Instance.gameFound && _time >= 0.2f)
        {
            _time = 0;
            dots = dots.Length < 5 ? dots + "." : "";
        }
    }

    void CancelSearch()
    {
        QueueManager.Instance.StopSearching();
        Log.Info("Matchmaking canceled.");
    }

    protected override int BuildHash() => System.HashCode.Combine(dots, QueueManager.Instance.gameFound, QueueManager.Instance.isSearching);
}
