@using Sandbox.Menu
@using Sandbox.UI;
@using Sandbox.UI.Navigation;
@using Sandbox.Network;

@inherits Panel
@implements INavigatorPage
@namespace Facepunch.UI

<root class="main-menu">
    <menu-header>Punt!</menu-header>

    <div class="menu-options">



        <div class="menu-button">
            <button class="button" onclick=@(() => DebugPlay())>Singleplayer</button>
        </div>

        <div class="menu-button" onclick=@( async () => await QueueManager.Instance.StartSearching( QueueType.Solo ) )>
            Solos

            <div>
                <i>person</i>
                @SoloCount
            </div>
        </div>

        <div class="menu-button" onclick=@( async () => await QueueManager.Instance.StartSearching( QueueType.Duo ) )>
            Duos

            <div>
                <i>person</i>
                @DuosCount
            </div>
        </div>

        <a class="menu-button" href="gamebrowser">
            Custom Games

            <div>
                <i>person</i>
                @CustomCount
            </div>
        </a>
        <a class="menu-button" href="">Back</a>
    </div>
</root>

@code
{
    void DebugPlay()
    {
        Scene.LoadFromFile( "scenes/networktestscenebottests.scene" );
    }

    /// <summary>
    /// A cached list of lobbies.
    /// </summary>
    private IEnumerable<LobbyInformation> Lobbies { get; set; } = new List<LobbyInformation>();

    private int SoloCount => Lobbies.Where( x => QueueType.Solo.IsLobbyOfType( x ) ).Count();
    private int DuosCount => Lobbies.Where( x => QueueType.Duo.IsLobbyOfType( x ) ).Count();
    private int CustomCount => Lobbies.Where( x => QueueType.Custom.IsLobbyOfType( x ) ).Count();

    /// <summary>
    /// Are we querying right now?
    /// </summary>
    private bool querying = false;

    /// <summary>
    /// We'll try to run a query every frame, but GetLobbies will return the cached value if we have cached it, so don't worry.. it's fast!
    /// </summary>
    public override void Tick()
    {
        Query();
    }

    private async void Query()
    {
        if ( querying ) return;
        querying = true;
        // Fetch lobbies
        Lobbies = await LobbySystem.GetLobbies();
        querying = false;
    }
}
