.MainMenu {
	position: absolute;
	top: 0;
	left: 64px;
	right: 1000px;
	bottom: 0;
	pointer-events: all;
	color: #fff;
	font-family: 'Lemon Days';
	font-size: 64px;
	flex-direction: column;
	cursor: pointer;

	&.hidden {
		display: none;
	}

	> title {
		font-size: 256px;
		font-weight: bold;
	}

	.queue-inactive {
		font-size: 36px;
		margin-left: 10px;
		margin-top: 10px;
		opacity: 0.3;
	}

	.queue-active {
		font-size: 36px;
		margin-left: 10px;
		margin-top: 10px;
		opacity: 1; /* ✅ Fully visible */

	}

	> .options {
		flex-direction: column;
		justify-content: center;
		/* Standard Button Styling */
		> .button {
			transition: all 0.1s ease;
			transform-origin: left center;

			&:hover {
				transform: scale(1.2);
				sound-in: ui.button.over;
			}
		}




		> .wip-button {
			color: #d0d0d0; /* Light grey text for contrast */
			cursor: default; /* No click interaction */
			pointer-events: none; /* Prevents hover and clicks */
			transition: none; /* No transition effects */
			transform: none; /* Prevent scaling */
			sound-in: none; /* Disables sounds */
		}
	}
}
