@using Sandbox
@using Sandbox.UI
@using System
@using System.Threading.Tasks

@implements INavigatorPage
@namespace Facepunch.UI

<root class="mainmenu">

    <title>Punt!</title>

    <div class="options">
        <!-- Regular Play Button -->
        <div class="button" onclick=@(async () => { QueueManager.Instance.CreateLobby("0"); await QueueManager.Instance.StartSearching("0"); })>
            Solo
        </div>

        <!-- WIP Style for Duos and Custom Games -->
        <div class="button wip-button">Duo</div>
        <a class="button wip-button" href="#">Custom Games</a>

        <a class="button" href="">Back</a>
    </div>
</root>

@code
{
    private void DebugPlay()
    {
        Scene.LoadFromFile("scenes/networktestscene.scene");
    }
}
