@using Sandbox
@using Sandbox.UI
@using System
@using System.Threading.Tasks

@implements INavigatorPage
@namespace Facepunch.UI

<root class="mainmenu">

    <title> Punt!</title>

    <div class="options">
        <div class="button" onclick=@(async () => { QueueManager.Instance.CreateLobby("0"); await QueueManager.Instance.StartSearching("0"); })>
            Solo
        </div>

        <div class="button" onclick=@(async () => await QueueManager.Instance.StartSearching("1"))>
            Duo
        </div>

        <a class="button" href="serverbrowser"> Custom Games</a>


        <a class="button" href="">Back</a>
    </div>
</root>

@code
{
    private void DebugPlay()
    {
        Scene.LoadFromFile("scenes/networktestscene.scene");
    }
}
