@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace Facepunch.UI

<root class="mainmenu">

    <title> Punt!</title>

    <div class="options">

        <div class="button">
            Servers
        </div>

        <a class="button" href="play"> Back</a>



    </div>
</root>

@code
{


}
